<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FDS Orgviz</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>FDS Orgviz</h1>
            <h2>Person of Interest: Fr. Müller</h2>
        </header>
        <div class="org-chart">
            <div class="tabs" id="tabsContainer">
               <!-- <button class="tab tab_active" id="first" data-date="19.11.1997">bmf-orgchart1<br><span>19.11.1997</span></button>
                <button class="tab" id="second" data-date="1.12.1999">bmf-orgchart2<br><span>1.12.1999</span></button>
                <button class="tab" id="third" data-date="17.03.2014">bmf-orgchart3<br><span>17.03.2014</span></button>
                <button class="tab" id="fourth" data-date="17.03.205">bmf-orgchart3<br><span>17.03.2015</span></button> -->

            </div>
            <div id="svgContainer"></div>
        </div>
        <div class="container-timeline">
            <ul class="timeline-ul">
                <!--<li class="active-timeline"><span></span><div>Regierung A</div></li>
                <li><span></span><div>Regierung B</div></li>
                <li><span></span><div>Regierung C</div></li> -->
            </ul>
        </div>
          
    </div>
    <script src="script.js"></script>
</body>

<!--<script>
    document.addEventListener("DOMContentLoaded", function() {
        const svgContent = 
         <rect x="10" y="10" width="100" height="50" fill="gray"></rect>;
        <text x="20" y="40" font-family="Arial" font-size="12" fill="black">Ministerium XYZ</text>

         `
            
            <rect x="10" y="10" width="100" height="50" fill="gray"></rect>
            <text x="20" y="40" font-family="Arial" font-size="12" fill="black">Ministerium XYZ</text>
            
            
        `;
       
        document.getElementById("org-svg").innerHTML = svgContent;
    });-->
</script>

</html>
