[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
organigram-extract = {file = ".", editable = true}
llm = "*"
fix-busted-json = "*"

[dev-packages]

[requires]
python_version = "3.12"
